body {
    width: 960px;
    margin: 0 auto;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-size: 100%;
    box-sizing: border-box;
}

/* all links */
a{
    color: #777777;
    text-decoration: none;
}

/* paragraph text except footer */
p {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}


/* start header */
.header {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: 75px;
    margin: 0 auto;
    left: 0;
    top: 0px;
    border-bottom: 2px solid #cccccc; 
}

.irene-header {
    color: white;
    background-color: #4aaaa5;
    width: 200px;
    height: 75px;
    text-align: center;
    /* z-index: 100; */
    box-sizing: border-box;
    /* float: left; */
    position: absolute;
    bottom: 0;
}
/* end header */


/* navbar */
.navbar {
    float: right;
    width: 30%;
    color: #777777;
    z-index: 100;
    position: absolute;
    right: 0;
    height: 25px;
    bottom: 0;
    /* margin-left: 960px; */
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

#about {
    float: right;
    width: 75px;
    text-align: center;
}

#portfolio {
    float: right;
    width: 75px;
    text-align: center;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
}

#contact {
    float: right;
    width: 75px;
    text-align: center;
}
/* end navbar */


/* start about */
.container-about {
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    color: #777777;
    width: 960px;
    margin: 0 auto;
    margin-top: 100px;
}

#irene-photo {
    width: 150px;
    padding: 15px;
    float: left;
}

#about-me {
    color: #4aaaa5;
}
/* end about */


/* start contact - see also contact.css */
#contact-name {
    color: #4aaaa5;
}

.container-contact {
    background-color: #ffffff;
    margin-top: 100px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    color: #777777;
}
/* end contact */


/* start portfolio */
.container-portfolio {
    background-color: #ffffff;
    margin-top: 100px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    color: #777777;
}

#portfolio-name {
    color: #4aaaa5;
}

#irene1 {
    float: left;
    width: 250px;
    margin: 20px;
    /* position: relative; */
}

#irene3 {
    float: left;
    width: 250px;
    margin: 20px;
    /* position: relative; */
}

#irene2 {
    float: left;
    width: 250px;
    margin: 20px;
}

#irene4 {
    float: left;
    width: 250px;
    margin: 20px;
} 

#irene5 {
    float: left;
    width: 250px;
    margin: 20px;
}
/* end portfolio */

#footer-text {
    font-family: "Georgia", "Times", "Times New Roman", serif;
}

.footer {
    background-color: #666666;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    border-top: 5px solid #4aaaa5;
    margin: 0 auto;
    left: 0;
}